.drawer__divisor {
  width: 100%;
  background-color: #dbdbdb;
  height: 1px;
  margin: 11px 0;
}

.drawer__divisor:first-child {
  margin-top: 0;
}

.drawer__item {
  background-color: transparent;
  border: none;
  color: #999;
  display: -webkit-box;
  display: flex;
  font-family: var(--font-family, Helvetica, Arial, sans-serif);
  font-size: 16px;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 11px 0;
  text-align: left;
  width: 100%;
}

.drawer__item--selected {
  color: var(--sunrise-orange, #ff842c);
}

.drawer__item-text {
  display: -webkit-box;
  display: flex;
}

.drawer__item-icon {
  font-size: 20px;
  text-align: center;
  margin: 0 !important;
}

.drawer__item-icon::before {
  margin: 0 !important;
  width: auto;
}

.drawer__notification {
  margin: 1px;
  font-size: 6px;
  height: 14px;
  padding-bottom: 10px;
}

.drawer__notification--orange {
  color: var(--sunrise-orange, #ff842c);
}

.drawer__notification--green {
  color: var(--check-green, #52c300);
}
